# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Frontend specific
frontend/node_modules/
frontend/.npm-cache/
frontend/.npm-cache-fresh/
frontend/tmp-enhanced-resolve/
frontend/*.tgz

# Backend specific
backend/node_modules/

# Uploads (optional - if you don’t want to push images)
uploads/
